.textbox {
  text-align: center;
  line-height: 0px;
  letter-spacing: 1px;
}
.h4 {
  font-family: 'Helvetica Neue Bold';
  font-size: 15px;
}
.p {
  font-size: 12px;
  font-family: 'Helvetica Neue';
  letter-spacing: 1px;
}
.container {
  margin: 30px 20px;
}

.btn {
  height: 30px;
}
@media (max-width: 900px) {
  .btn {
    height: 5vw;
  }
}
@media (max-width: 630px) {
  .btn {
    height: 30px;
  }
}

.btnBox {
  width: 80%;
  cursor: pointer;
}
