.wrapper{
  height: 40vw; 
  width: 100%; 
  overflow: hidden; 
  position: relative;
  cursor: pointer;
  margin-top: 50px;
}
.text {
  color: orangered;
  margin-top: -20px;
  margin-left: -8px;
  font-family: 'Helvetica Neue Bold';
  font-weight: 900;
  font-size: 3vw;
  letter-spacing: 1.5px;
}
.bigtext {
  margin-top: 0px;
  font-family: 'Helvetica Neue Bold';
  font-weight: 900;
  font-size: 5vw;
  letter-spacing: 3px;
  line-height: 4.2vw;
}

.line{
  position: absolute;
  top: 35vw;
  margin-top: 5px;
  right: 40vw;
  width: 20vw;
  height: .5vw;
  background-color: black;
}
@media (min-width:930px){
  .line{
    margin-top: 15px;
  }
}

.textHolder {
  position: absolute;
  top: 5vw;
  width: 70vw;
  right: -10vw;
  height: 400px;
}

.colorBox {
  width: 35%;
  height: 40vw; 
  position: absolute;
  right: 0;
  z-index: 1;
  background-color: white;
  display: flex;
  align-items: center;
}

@media(max-width: 550px){
  .colorBox {
    width: 100vw;
    height: 40vw; 
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: rgb(255, 255, 255, .5);
    display: flex;
    align-items: center;
  }
  .textHolder {
    position: absolute;
    top: 5vw;
    width: 65%;
    right: 0;
    height: 400px;
  }
  .text {
    position: absolute !important;
    left: -25vw;
    top: 45px;
    transform: rotate(-90deg);
    font-family: 'Helvetica Neue Bold';
    font-weight: 900;
    font-size: 6vw;
    letter-spacing: 0.5px;
  }
  .bigtext {
    margin-top: 0px;
    line-height: 4.8vw;
  }
}