.text {
  font-family: 'Helvetica Neue Bold';
  font-weight: 900;
  font-size: 42px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.textHolder {
  position: absolute;
  width: 400px;
  left: 100px;
  height: 350px;
}

.colorBox {
  width: 30%;
  height: 400px;
  position: absolute;
  z-index: 1;
  background-color: yellow;
  display: flex;
  align-items: center;
}
