body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#show {
  opacity: 1;
  transition: opacity 0.3s;
}

#spinner-container {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-content {
  padding-top: 50px;
}

.page-header {
  text-align: center;
}

#id-container {
  width: 100%;
  position: relative;
}

#id-spinner {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0;
}

#unfocus {
  opacity: 0.4;
}

#pieces-found-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  background-color: rgb(226, 226, 226);
  padding: 10px;
  min-height: 450px;
  width: 100%;
  box-shadow: 3px 3px 15px black;
}

.card {
  grid-column-start: auto;
  grid-column-end: auto;
}

#confirm-id-text {
  position: absolute;
  top: 40px;
  left: 10px;
  letter-spacing: 4px;
  font-size: 8px;
  font-weight: bold;
  color: grey;
}

/*AUTOCOMPLETE-BOCX*/


.autocomplete {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}
input {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
}
input[type="text"] {
  width: 100%;
}
input[type="submit"] {
  color: black;
  cursor: pointer;
}
.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
}
.autocomplete-items div:hover {
  background-color: #9c9c9c;
}
.autocomplete-active {
  background-color: #9c9c9c;
  font-weight: bolder;
}

#site-is-busy-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 150px;
}

#modal-backdrop{
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#card-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#card-buttons button{
  margin: 10px;
}

.input-group {
}

.select-search{

}