.wrapper{
  position: relative;
  width: 80%;
  margin-top: 50px;
}

.vestiaireWrap{
  position: absolute;
  top: 0;
}

.bigtext {
  margin-top: 20px;
  font-family: 'Helvetica Neue Bold';
  font-weight: 900;
  font-size: 45px;
  margin-left: -5px;
  letter-spacing: 3px;
  line-height: 50px;
}

.line{
  position: relative;
  margin-top: -20px;
  margin-left: -3px;
  height: 6px;
  width: 80px;
  background-color: black;
}