
.whitebox{
  height: 35%;
  width: 100%;
}

.greybox{
  background-color: rgb(71, 71, 71);
  height: 65%;
  width: 100%;
  color:white;
}

.blackText{
  margin-top: 4px;
  font-family: 'Helvetica Neue Bold';
  font-size: 16px; 
}

.logo{
  margin-top: 80px;
  height: 30px;
}

.whiteTextHeader{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  font-family: 'Helvetica Neue';
  font-weight: 900;
  font-size: 12px;
  letter-spacing: 1px;
}

.scs{
  font-size: 30px;
  color: darkgray;
}
a.address{
  font-family: 'Helvetica Neue';
  font-weight: 900;
  font-size: 13px;
  letter-spacing: 1px;
  color: darkgray;
  margin-bottom: -10px;
}
a.address:hover, a.mail:hover{
  transition: all .3s;
  color: orangered;
}

.rights{
  font-family: 'Helvetica Neue';
  font-weight: 900;
  font-size: 10px;
  letter-spacing: 1px;
  color: darkgray;
}

.footer{
  margin: 0 50px -5px 50px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}