.carouselContainer {
  width: 100%;
  position: relative;
}

.holder{
  height: 30vw;
  position: relative;
}

.textHolder {
  position: absolute;
  top: -85px;
  left: -95vw;
  width: 50px;
}

.text {
  font-family: 'Helvetica Neue Bold';
  font-weight: 900;
  font-size: 7vw;
  letter-spacing: 0.5vw;
  line-height: 6vw;
}
.textHolder2 {
  position: absolute;
  right: 15vw;
  bottom: -100px;
  width: 50px;
}
.text2 {
  position: relative;
  font-family: 'Helvetica Neue Bold';
  font-weight: 900;
  font-size: 7vw;
  letter-spacing: 0.5vw;
  line-height: 6vw;
  z-index: 1;
}

@media (min-width: 925px) {
  .text,
  .text2 {
    font-size: 60px;
    line-height: 50px;
  }
}
@media (max-width: 1025px) {
  .textHolder2 {
    right: 20vw;
  }
}
@media (max-width: 600px){
  .text,
  .text2 {
    font-size: 40px;
  }
}

@media (max-width: 580px){
  .holder{
    height: 200px;
  }
}
@media (max-width: 530px){
  .text,
  .text2 {
    line-height: 35px;

  }
}
@media (max-width: 400px){
  .carouselContainer {
    margin-top: 50px;
  }
  .textHolder2 {
    position: absolute;
    right: 80px;
    bottom: -100px;
    width: 50px;
  }
}

