.holder {
  position: absolute;
  top: -5px;
  right: 20px;
  left: 20px;
  text-align: right;
}

@media (max-width: 650px) {
  .holder{
    right: 5px;
  }
}

.member {
  border-radius: 0;
  font-family: 'Helvetica Neue Bold';
  padding: 1px 5px 1px 5px;
  margin: 5px;
  width: auto;

  color: white;
  font-size: 0.95em;
  background-color: black;
  border: solid black 2px;
  cursor: pointer;
  outline: none;
}
.logIn {
  border-radius: 0;
  font-family: 'Helvetica Neue Bold';
  padding: 1px 5px 1px 5px;
  margin: 5px;
  width: auto;

  font-size: 0.95em;
  background-color: white;
  border: solid black 2px;
  cursor: pointer;
  outline: none;
}

@media (max-width: 1050px) {
  .logIn,
  .member {
    font-size: 0.8em;
  }
}

