.wrapper {
  height: 25vw;
  width: 100%;

  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.text {
  margin-top: 10px;
  font-family: 'Helvetica Neue Bold';
  font-weight: 900;
  font-size: 3vw;
  letter-spacing: 0.5px;
}
.text2 {
  font-family: 'Helvetica Neue Bold';
  font-weight: 900;
  font-size: 4vw;
  margin-top: -50px;
  margin-left: 50px;
  letter-spacing: 0.5px;
}
.bigtext {
  margin-top: -15px;
  font-family: 'Helvetica Neue Bold';
  font-weight: 900;
  font-size: 10vw;
  margin-left: -5px;
  letter-spacing: 6px;
}
@media screen and (min-width: 1100px) {
  .bigtext {
    font-size: 110px;
  }
}
@media screen and (max-width: 655px) {
  .bigtext {
    font-size: 65px;
  }
}

.textHolder {
  position: absolute;
  width: 150%;
  left: 40px;
  height: 350px;
}

.colorBox {
  width: 40vw;
  height: 25vw;
  position: absolute;
  left: 0;
  z-index: 1;
  background-color: pink;
}

@media(max-width: 549px){
  .colorBox {
    width: 100vw;
    background-color: rgb(255,192,203,.5);
  }
  .bigtext {
    margin-top: 15px;
    font-family: 'Helvetica Neue Bold';
    font-weight: 900;
    font-size: 15vw;
    margin-left: 0;
    margin-right: 0;
    letter-spacing: 6px;
    transition: all .3s;
  }
  .textHolder {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    right: 0;
    left:0;
    height: 30vw;
    text-align: center;
  }
}