.text {
  position: absolute;
  font-family: 'Helvetica Neue Bold';
  font-weight: 900;
  font-size: 3.5vw;
  letter-spacing: 0.5px;
}

.textHolder {
  position: absolute;
  width: 40vw;
  left: 10vw;
  height: 350px;
}

.colorBox {
  width: 35vw;
  height: 400px;
  background-color: white;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
}

@media(max-width: 550px){
  .text{
    font-size: 7vw;
    text-align: center;
  }
  .colorBox {
    width: 100vw;
    background-color: rgb(255,255,255,.6);
  }
  .textHolder {
    position: absolute;
    width: 80vw;
    top: .5vw;
    height: 100px;
  }
}
@media(max-width: 408px){
  .text{
    font-size: 6vw;
  }
  .textHolder {
    top: 2vw;
  }
}
